{% extends "layout.html" %}
{% block body %}
<h1 class="page-title">Edit Author</h1>
<ul class="breadcrumb">
    <li><a href="/admin">Home</a> <span class="divider">/</span></li>
    <li><a href="/admin/author/list">Authors</a> <span class="divider">/</span></li>
    <li class="active">Edit Author</li>
</ul>
<div class="well">
    <ul class="nav nav-tabs">
        <li><a href="/admin/author/update/{{ form.author_id.data }}"><i class="icon-edit"></i> Profile</a></li>
        <li class="active"><a href="javascript:void(0)" data-toggle="tab"><i class="icon-key"></i> Password</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane active in">
            <form id="tab2" action="/admin/author/update_password/{{ form.author_id.data }}" method="POST">
                {% if form.errors.exceptions %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for error in form.errors.exceptions %}
                    {{ error }}<br>
                    {% endfor %}
                </div>
                {% endif %}

                {{ form.author_id }}

                {{ form.password.label }}
                {{ form.password(class="input-large") }}
                {% if form.password.errors %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for error in form.password.errors %}
                    <i class='icon-exclamation-sign'></i> {{ error }}<br>
                    {% endfor %}
                </div>
                {% endif %}

                {{ form.password_validate.label }}
                {{ form.password_validate(class="input-large") }}
                {% if form.password_validate.errors %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for error in form.password_validate.errors %}
                    <i class='icon-exclamation-sign'></i> {{ error }}<br>
                    {% endfor %}
                </div>
                {% endif %}

                <div>
                    <button class="btn btn-primary"><i class="icon-save"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<h2>Kits</h2>
<div class="btn-toolbar">
    <a href="/admin/kit/create?author_id={{ form.author_id.data }}">
        <button class="btn btn-primary"><i class="icon-plus"></i> New Kit</button>
    </a>
</div>
<div class="well">
    <table class="table">
        <thead>
        <tr>
            <th style="width: 16px;">&nbsp;</th>
            <th>Kit Name</th>
            <th>View Count</th>
            <th>Download Count</th>
            <th>Updated</th>
            <th>Valid</th>
            <th style="width: 26px;">&nbsp;</th>
            <th style="width: 26px;">&nbsp;</th>
        </tr>
        </thead>
        {% if kits %}
        <tbody>
        {% for kit in kits %}
        <tr>
            <input type="hidden" value="{{ kit.kit_id }}">
            <td><i class='icon-cog'></i></td>
            <td>{{ kit.kit_name }}</td>
            <td>{{ kit.view_count }}</td>
            <td>{{ kit.download_count }}</td>
            <td>{{ kit.update_datetime }}</td>
            <td>{{ kit.valid }}</td>
            <td>
                <a href="/admin/kit/update/{{ kit.kit_id }}"><i class="icon-pencil"></i></a>
            </td>
            <td>
                <a href="/admin/kit/download/{{ kit.kit_id }}"><i class="icon-download-alt"></i></a>
            </td>
        </tr>
        {% endfor%}
        </tbody>
        {% endif %}
    </table>
</div>
{% endblock %}