{% extends "layout.html" %}
{% block body %}
<h1 class="page-title">Edit Kit</h1>
<ul class="breadcrumb">
    <li><a href="/admin">Home</a> <span class="divider">/</span></li>
    <li><a href="/admin/author/list">Authors</a> <span class="divider">/</span></li>
    <li><a href="/admin/author/update/{{ form.author_id.data }}">Edit Author</a> <span class="divider">/</span></li>
    <li class="active">Edit Kit</li>
</ul>
<div class="well">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab"><i class="icon-edit"></i> Detail</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane active in" id="home">
            <form id="tab" action="/admin/kit/update/{{ form.kit_id.data }}" method="POST" enctype="multipart/form-data">
                {% if form.errors.exceptions %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for error in form.errors.exceptions %}
                    {{ error }}<br>
                    {% endfor %}
                </div>
                {% endif %}

                {{ form.kit_id }}
                {{ form.author_id }}

                {{ form.kit_name.label }}
                {{ form.kit_name(class="input-middle") }}
                {% if form.kit_name.errors %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for error in form.kit_name.errors %}
                    <i class='icon-exclamation-sign'></i> {{ error }}<br>
                    {% endfor %}
                </div>
                {% endif %}

                {{ form.category_id.label }}
                {{ form.category_id }}

                {{ form.tags.label }}
                {{ form.tags(class="input-large")|safe }}
                {% if form.tags.errors %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for error in form.tags.errors %}
                    <i class='icon-exclamation-sign'></i> {{ error }}<br>
                    {% endfor %}
                </div>
                {% endif %}

                {{ form.description.label }}
                {{ form.description(class="input-xxlarge", rows="10")|safe }}
                {% if form.description.errors %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for error in form.description.errors %}
                    <i class='icon-exclamation-sign'></i> {{ error }}<br>
                    {% endfor %}
                </div>
                {% endif %}

                {{ form.valid.label }}
                {{ form.valid }}

                {{ form.kit_file.label }}
                {{ form.kit_file }}
                {% if form.kit_file.errors %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for error in form.kit_file.errors %}
                    <i class='icon-exclamation-sign'></i> {{ error }}<br>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="btn-toolbar">
                    <button class="btn btn-primary" onclick="submit();"><i class="icon-save"></i> Save</button>
                    <div class="btn-group">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}